<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
    <style>
        {% include 'css/style.css' %}
    </style>
	<title>Lint Results</title>
</head>

<body>

	<div id="container">

		<div id="content">
			{% block content %}{% endblock %}
		</div>
		<div class="push"></div>

	</div>

	<div id="footer">
		<div id="copyright">
			<p>All Rights Reserved © Sune</p>
		</div>
	</div>
</body>
</html>
